.header-row {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
  justify-items: start;

  button {
    padding: 0.3em 1em;
  }
}

label > input,
label > textarea {
  display: block;
}

.display-container {
}
